$govuk-assets-path: "/business-account/corporation-tax/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/business-account/corporation-tax/assets/lib/hmrc-frontend/hmrc/";
$govuk-suppressed-warnings: "legacy-organisation-colours";

@import "lib/govuk-frontend/dist/govuk/index";
@import "lib/hmrc-frontend/hmrc/all";


.blue-top {
  border-bottom: 10px solid #1D70B8;
}